.our-management {
    width: 100%;
    display: flex;
    justify-content: center;
}

.our-management__wrapper {
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-image: url('../assets/trusteeImages/BackgroundImage.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tribute-image-container {
    width: 80%;
    margin-top: 40px;
    display: flex;
}

.tribute-image {
    width: 100%;
}

.tribute-image img {
    width: 100%;
    height: 100%;
}

.our-management__title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

.our-management__title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #f9a825;
}

.committee__title {
    font-size: 2rem;
    font-weight: bold;
    color: #d00000;
    background: linear-gradient(to right, #f9a825, #fff600, #f9a825);
    padding: 10px 40px;
    margin: 4rem 0;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Horizontal lines on both sides */
.committee__title::before,
.committee__title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #f9a825;
    transform: translateY(-50%);
}

.committee__title::before {
    left: -50px;
}

.committee__title::after {
    right: -50px;
}

.committee__grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.committee__member-container {
    display: flex;
    gap: 20px;
}

.committee__member_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-image: url('../assets/trusteeImages/BackgroundImage.jpg');
    /* border: 1px solid #fff; */
}

.member-name {
    font-size: 24px;
    font-weight: bold;
    color: #f9a825;
}

.member-position {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.committee__member {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 160px;
    height: 220px;
}

.committee__member:hover {
    transform: translateY(-10px) scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.6s ease;
}

.committee__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .committee__member {
        width: 140px;
        height: 190px;
    }

    .member-name {
        font-size: 20px;
    }

    .member-position {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .tribute-image-container {
        width: 90%;
        margin-top: 20px;
    }

    .committee__member {
        width: 120px;
        height: 170px;
    }

    .committee__member--hide-mobile {
        display: none !important;
    }

    .committee__member_card {
        padding: 0;
    }

    .member-name {
        font-size: 12px;
    }

    .member-position {
        font-size: 10px;
    }

    .committee__title {
        font-size: 1.6rem;
        padding: 8px 30px;
    }

    .our-management__title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .tribute-image-container {
        width: 90%;
        margin-top: 10px;
    }

    .committee__member {
        width: 100px;
        height: 150px;
    }

    .member-name {
        margin-top: 5px;
        font-size: 12px;
    }

    .member-position {
        font-size: 10px;
    }

    .committee__title {
        font-size: 1.4rem;
        padding: 6px 20px;
    }

    .committee__title::before,
    .committee__title::after {
        width: 30px;
    }

    .our-management__title {
        font-size: 1.6rem;
    }
}